@import '../../styles/styles.scss';

form {
  margin: 55px 0 20px;
}

input:not([type]),
input[type='text']:not(.browser-default),
input[type='password']:not(.browser-default),
input[type='email']:not(.browser-default),
input[type='url']:not(.browser-default),
input[type='time']:not(.browser-default),
input[type='date']:not(.browser-default),
input[type='datetime']:not(.browser-default),
input[type='datetime-local']:not(.browser-default),
input[type='tel']:not(.browser-default),
input[type='number']:not(.browser-default),
input[type='search']:not(.browser-default),
textarea.materialize-textarea {
  margin: 0 0 5px 0;
}

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $blue;
  -webkit-box-shadow: 0 1px 0 0 $blue;
  box-shadow: 0 1px 0 0 $blue;
}

textarea.materialize-textarea {
  padding: 10px 0 0;
}
.material-tooltip .backdrop {
  background-color: $grey-light;
}
form label {
  float: left;
  margin-right: 10px;
  line-height: 22px;
}
.umfrage-formular i {
  color: #9e9e9e;
  font-size: 20px;
  cursor: pointer;
  @include transition(color, 0.5s, ease-in-out, 0s);
}
.umfrage-formular i:hover,
.umfrage-formular i:focus,
.umfrage-formular i:active {
  color: $blue;
}
.umfrage-formular button i,
.umfrage-formular button i:hover,
.umfrage-formular button i:focus,
.umfrage-formular button i:active,
.umfrage-formular a i,
.umfrage-formular a i:hover,
.umfrage-formular a i:focus,
.umfrage-formular a i:active {
  color: #fff;
}
.form-field {
  float: left;
  width: 100%;
  margin-bottom: 3rem;
}
.form-field span {
  opacity: 0;
  height: 0;
  @include transition2(opacity, 0.5s, ease-in-out, 0s, min-height, 0.5s, ease-in-out, 0s);
}
.form-field .error-message {
  opacity: 1;
  min-height: 20px;
}
