@import 'styles/_mixin.scss';
@import 'styles/_variables.scss';

.umfrage-formular {
  transition: 0.3s -webkit-filter linear;
}
form {
  margin: 55px 0 20px;
}

input:not([type]),
input[type='text']:not(.browser-default),
input[type='password']:not(.browser-default),
input[type='email']:not(.browser-default),
input[type='url']:not(.browser-default),
input[type='time']:not(.browser-default),
input[type='date']:not(.browser-default),
input[type='datetime']:not(.browser-default),
input[type='datetime-local']:not(.browser-default),
input[type='tel']:not(.browser-default),
input[type='number']:not(.browser-default),
input[type='search']:not(.browser-default),
textarea.materialize-textarea {
  margin: 0 0 5px 0;
}

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $blue;
  -webkit-box-shadow: 0 1px 0 0 $blue;
  box-shadow: 0 1px 0 0 $blue;
}

textarea.materialize-textarea {
  padding: 10px 0 0;
}
.material-tooltip .backdrop {
  background-color: $grey-light;
}
.material-tooltip {
  width: 20%;
  -ms-word-break: break-all;
  word-break: break-all;
  // Non standard for webkit
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}
form label {
  float: left;
  margin-right: 10px;
  line-height: 22px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
}
.umfrage-formular {
  @include scale(1);
  @include transition(all , 0.3s, ease-in-out, 0s);
}
.umfrage-formular.blurry {
  @include scale(0.95);
}
.umfrage-formular i {
  color: #9e9e9e;
  font-size: 20px;
  cursor: pointer;
  @include transition(color, 0.5s, ease-in-out, 0s);
}
.umfrage-formular i:hover,
.umfrage-formular i:focus,
.umfrage-formular i:active {
  color: $blue;
}
.umfrage-formular button i,
.umfrage-formular button i:hover,
.umfrage-formular button i:focus,
.umfrage-formular button i:active,
.umfrage-formular a i,
.umfrage-formular a i:hover,
.umfrage-formular a i:focus,
.umfrage-formular a i:active {
  color: #fff;
}
.form-field {
  float: left;
  width: 100%;
  margin-bottom: 3rem;
}
.form-field span {
  opacity: 0;
  height: 0;
  @include transition2(opacity, 0.5s, ease-in-out, 0s, min-height, 0.5s, ease-in-out, 0s);
}
.form-field .error-message {
  color: red;
  opacity: 1;
  font-size: 12px;
  min-height: 20px;
}
.form-field input.error,
.form-field textarea.error {
  border-color: red;
  -webkit-box-shadow: 0 1px 0 0 red;
  box-shadow: 0 1px 0 0 red;
}
.review {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 20%;
  opacity: 1;
  @include transition(opacity, 0.3s, ease-in-out, 0.3s);
}

.review > .gradient {
  height: 100%;
  position: absolute;
  width: 60%;
  border-radius: 2px;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.form-review {
  position: relative;
  z-index: 10;
  color: #fff;
  padding: 50px 0 30px;
}
.form-fields {
  margin-bottom: 50px;
  text-shadow: 0px 2px 2px rgba(54, 124, 158, 0.6);
}
