.footer {
  color: #fff; }
  .footer a {
    color: #fff;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out 0s;
    -moz-transition: opacity 0.2s ease-in-out 0s;
    -o-transition: opacity 0.2s ease-in-out 0s;
    -ms-transition: opacity 0.2s ease-in-out 0s;
    transition: opacity 0.2s ease-in-out 0s; }
  .footer a:hover {
    opacity: 0.6; }
  .footer .row {
    margin-bottom: 0; }
