@import 'styles/_mixin.scss';
@import 'styles/_variables.scss';

footer {
  color: $white;
  a {
    color: $white;
    opacity: 1;
    @include transition(opacity, 0.2s, ease-in-out, 0s);
  }
  a:hover {
    opacity: 0.6;
  }
  li {
    margin-bottom: 5px;
    font-size: 15px;
  }
  i.tiny {
    font-size: 1.4rem;
  }
}
