.header {
  background-color: #7dbbd8;
  color: #fff; }
  .header a {
    color: #fff;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out 0s;
    -moz-transition: opacity 0.2s ease-in-out 0s;
    -o-transition: opacity 0.2s ease-in-out 0s;
    -ms-transition: opacity 0.2s ease-in-out 0s;
    transition: opacity 0.2s ease-in-out 0s; }
  .header a:hover {
    opacity: 0.6; }
  .header .row {
    margin-bottom: 0; }
  .header i {
    font-style: normal; }
  .header i.medium {
    font-size: 2.5rem; }

.header__logo {
  margin-top: 16px; }

.header__logo__link {
  float: left; }

.header__navigation {
  text-align: right; }

.header__authentication {
  float: right;
  width: 200px; }
  .header__authentication div {
    float: right; }
  .header__authentication div:last-child {
    margin-right: 10px; }
  .header__authentication span {
    display: block; }
  .header__authentication i.medium {
    font-size: 3rem; }

.logged-in {
  margin-top: 8px; }
  .logged-in span:first-child {
    font-size: 12px;
    padding-top: 2px; }

.logged-out {
  margin-top: 15px; }
  .logged-out span {
    padding-top: 5px; }

.bold-upper {
  font-weight: bold;
  text-transform: uppercase; }
