@import 'styles/_mixin.scss';
@import 'styles/_variables.scss';

.header {
  background-color: $blue;
  color: $white;
  a {
    color: $white;
    opacity: 1;
    @include transition(opacity, 0.2s, ease-in-out, 0s);
  }
  a:hover {
    opacity: 0.6;
  }
  .row {
    margin-bottom: 0;
  }
}
.header__logo__link {
  float: left;
}
.header__navigation {
  text-align: right;
}
.header__authentication {
  float: right;
  width: 200px;
  div {
    float: right;
  }
  div:last-child {
    margin-right: 10px;
  }
  span {
    display: block;
  }
  i.medium {
    font-size: 3rem;
  }
}
.logged-in {
  margin-top: 8px;

  span:first-child {
    font-size: 12px;
    padding-top: 2px;
  }
}
.logged-out {
  margin-top: 15px;
  span {
    padding-top: 5px;
  }
}
.bold-upper {
  font-weight: bold;
  text-transform: uppercase;
}
