.landingpage {
  padding: 60px 0; }
  .landingpage h1 {
    margin: 0 10px 20px 10px;
    padding: 30px; }
  .landingpage h2 {
    margin: 50px 10px 20px 10px;
    padding: 30px;
    font-size: 2.5rem; }
  .landingpage .flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .landingpage .flex-item {
    margin: 10px;
    width: -moz-calc(50% - 20px);
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
    padding: 30px;
    border-radius: 2px;
    border: 1px solid #abd7ed; }
  .landingpage .material-icons {
    font-size: 100px;
    color: #abd7ed; }
  .landingpage .flex-item:first-child {
    border: 1px solid #569cbd; }
  .landingpage .flex-item:first-child .material-icons {
    color: #569cbd; }

@media screen and (max-width: 601px) {
  .landingpage .flex-item {
    margin: 10px 0;
    width: 100%; } }
