@import 'styles/_mixin.scss';
@import 'styles/_variables.scss';

.landingpage {
  padding: 60px 0;
  h1 {
    margin: 0 10px 50px 10px;
    background-color: $dark-blue;
    color: white;
    padding: 30px;
  }
  h2 {
    margin: 50px 10px 30px 10px;
    background-color: $blue;
    color: white;
    padding: 30px;
    font-size: 2.5rem;
  }
  .material-icons {
    font-size: 55px;
    color: $dark-blue;
  }
  .flex-container {
    @include flexbox;
    @include align-items(stretch);
    @include justify-content(center);
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }
  .flex-item {
    margin: 10px;
    @include calc( width, '50% - 20px');
    padding: 30px;
    border: 1px solid $light-blue;
  }
}
thead {
  border-bottom: 1px solid $light-blue;
}
thead tr {
  background-color: #e3edf7;
}
tbody tr:nth-child(odd) {
  background-color: #f9fafb;
}
@media screen and (max-width: 601px) {
  .landingpage {
    .flex-item {
      margin: 10px 0;
      width: 100%;
    }
  }
}
