$content-color: #ffffff;
$red: #f16767;
$blue: #64d4fa;
$green: #f8c761;
$red-rgba: rgba(241, 103, 103, 1);
$blue-rgba: rgba(100, 212, 250, 1);
$green-rgba: rgba(248, 199, 97, 1);
$black: rgba(0, 0, 0, 0.8);
$grey: rgba(0, 0, 0, 0.5);
$white: #fff;
